<footer>
  <div class="socials-container">
    <a data-social="Facebook" style="--accent-color: #0866FF" href="https://www.facebook.com/volaciampino" target="_blank">{% include "svg/social/facebook.svg" %}</a>
    <a data-social="Instagram" style="--accent-color: #FE107C" href="https://www.instagram.com/vola_ciampino" target="_blank">{% include "svg/social/instagram.svg" %}</a>
    <a data-social="YouTube" style="--accent-color: #FF0000" href="https://www.youtube.com/@volaciampino4191" target="_blank">{% include "svg/social/youtube.svg" %}</a>
    <a data-social="X" style="--accent-color: #000000" href="https://x.com/volaciampino" target="_blank">{% include "svg/social/x.svg" %}</a>
  </div>
</footer>
 