---
layout: base.html
title: Percorso Competitiva
---

<div style="
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  ">

  <h1 style="padding: 1rem 1em;">IL PERCORSO</h1>
  <div style="width: min(55rem, 90%); padding-bottom: 2rem;">
    <p>
      Percorso gara 9,900 Km:
    </p>
    <p>
      Il percorso di gara si articolerà sulle seguenti strade cittadine:
      Viale Kennedy 35, Ponte di Morena, via del Lavoro, via IV Novembre, P.zza della Pace, Viale di Marino, via Dei Laghi,
      via Fontana dei monaci, via Cuneo, via dell'Ospedaletto, via dei Laghi, via Mura dei Francesi, via Bruxelles, via Genova,
      via Parigi, via Milano, via Mura dei Francesi, via Principessa Pignatelli, via Col di Lana, via XXIV Maggio,
      ponte di Morena, via di Morena, via Lucrezia Romana, via Reverberi, viale J.F. Kenndy, Arrivo.
    </p>
    <div style="display: flex; justify-content: center; padding-top: 2rem;">
      <img style="max-width: 100%; height:auto;" src="/img/10km/percorso.png" alt="percorso competitiva" />
    </div>
  </div>
</div>
