---
layout: base.html
title: Regolamento Competitiva
---

<div style="
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  ">

  <h1 style="padding: 1rem 1em;">XXVII° Edizione Vola Ciampino</h1>
  <h2 style="padding: 0 1em;">REGOLAMENTO CORSA COMPETITIVA KM 9,900</h2>
  <h3 style="padding: 1rem 1em;">PARTENZA GARA ORE 10,15</h3>

  <div style="width: min(55rem, 90%); padding-bottom: 2rem;">
    <h4 style="padding-bottom: 0rem; margin-bottom: 0;">
      <em>
        L'A.S.D. Runners Ciampino organizza Domenica 7 Marzo 2027 la 27^ edizione della "Vola Ciampino",
      </em>
    </h4>
    <h4 style="padding-top: 0; margin-top: 0; padding-bottom: 1rem;">
      <em>
        gara competitiva su strada di Km 9,900.
      </em>
    </h4>
    
    <h3 style="display: flex; justify-content: center; align-items: center; padding-top: 1rem;">
      REQUISITI DI PARTECIPAZIONE
    </h3>
    <p>
      In base a quanto previsto dalle "Norme per l'organizzazione delle manifestazioni" emanate dalla FIDAL,
      possono partecipare atleti tesserati in Italia limitatamente alle persone da 16 anni in poi in possesso di uno dei seguenti requisiti:
    </p>
    <ul>
      <li>
        Atleti tesserati per il 2027 per società affiliate alla FIDAL
      </li>
      <li style="margin: 1rem 0;">
        Atleti in possesso di Runcard (valevole come assicurazione sportiva e permesso a competere),
        limitatamente alle persone da 20 anni in poi. La partecipazione è comunque subordinata:
        alla presentazione di un certificato medico di idoneità agonistica specifica per l'atletica leggera,
        in corso di validità, che dovrà essere esibito agli organizzatori in originale e conservato, in copia,
        agli atti della Società organizzatrice di ciascuna manifestazione.
        Il certificato medico per gli stranieri non residenti può essere emesso nel proprio paese,
        ma devono essere stati effettuati gli stessi esami previsti dalla normativa italiana:
        a) visita medica; b) esame completo delle urine; c) elettrocardiogramma a riposo e dopo sforzo; d) spirometria
      </li>
      <li>
        Atleti tesserati per un Ente di Promozione Sportiva (Sez. Atletica) o in possesso di Runcard - EPS;
        in questo ultimo caso la partecipazione è comunque subordinata, oltre che al possesso della "RUNCARD":
        alla presentazione di un certificato medico di idoneità agonistica specifica per l'atletica leggera,
        in corso di validità, che dovrà essere esibito agli organizzatori in originale e conservato, in copia,
        agli atti della Società organizzatrice di ciascuna manifestazione.
        Il certificato medico per gli stranieri non residenti può essere emesso nel proprio paese,
        ma devono essere stati effettuati gli stessi esami previsti dalla normativa italiana:
        a) visita medica; b) esame completo delle urine; c) elettrocardiogramma a riposo e dopo sforzo; d) spirometria.
      </li>
    </ul>

    <h3 style="display: flex; justify-content: center; align-items: center; padding-top: 1rem;">
      ISCRIZIONI
    </h3>
    <p>
      Le iscrizioni individuali potranno essere effettuate nelle seguenti modalità:
    </p>
    <ul>
      <li>
        <strong>ONLINE</strong>: tramite il portale <strong>ENDU</strong> pagamento con carta di credito o bonifico bancario.
        In caso di pagamento con bonifico bancario utilizzare le coordinate EngaGigo messe a disposizione al termine della procedura di iscrizione.
      </li>
      <li style="margin: 1rem 0 1rem 2rem; list-style: none;">
        <a href="https://www.endu.net/entries" target="_blank"><button>ENDU</button></a>
      </li>
      <li>
        <strong>OFFLINE</strong>: scaricando la scheda d'iscrizione <strong>EXCEL</strong> sul sito <strong>www.volaciampino.it</strong>
        ed inviandola compilata unitamente alla copia del pagamento (se effettuato a mezzo bonifico bancario)
        e del certificato medico se si è tesserati Runcard o Eps all'indirizzo <strong>volaciampino@evodata.it</strong>.
      </li>
    </ul>
    <p>
      Per le iscrizioni cumulative le società dovranno utilizzare l'apposito file excel scaricabile su www.volaciampino.it.
      Le società EPS dovranno allegare anche dichiarazione di tesseramento su carta intestata con timbro e firma del Presidente.
      Le iscrizioni potranno essere inviate a volaciampino@evodata.it unitamente alla copia del pagamento.
    </p>

    <h3 style="display: flex; justify-content: center; align-items: center; padding-top: 1rem;">
      QUOTE D'ISCRIZIONE
    </h3>
    <ul>
      <li>
        <strong>
          € 14,00 per le società con un minimo di 5 Atleti iscritti
        </strong>
      </li>
      <li>
        <strong>
          € 15,00 per singoli e Runcard
        </strong>
      </li>
    </ul>
    <p>
      <strong>ATTENZIONE</strong>: Per il calcolo della quota farà fede la <strong>DATA</strong> del pagamento.
      Eventuali iscrizioni saldate direttamente al ritiro del sabato o la domenica mattina <strong>avranno un costo di 20€</strong>.
    </p>
    <p>
      Le Iscrizioni si <strong>chiuderanno in data 4 marzo 2027</strong> o al raggiungimento di 1300 iscritti.
      Il numero del limite totale degli iscritti potrebbe subire variazioni per esigenze organizzative e/o di sicurezza.
      La data che farà fede nel calcolo della quota di iscrizione sarà quella del pagamento,
      lo stesso potrà essere effettuato nelle seguenti modalità:
    </p>
    <ul>
      <li style="margin-bottom: 1rem;">
        con <strong>CARTA DI CREDITO</strong> on-line sul portale <strong>ENDU</strong> (si può scegliere anche di pagare con bonifico bancario ma ATTENZIONE,
        in questo caso iban e causale saranno quelli rilasciati alla fine del processo di iscrizione sul portale)
      </li>
      <li>
        con <strong>BONIFICO BANCARIO</strong> intestato A.S.D. Runners Ciampino presso <strong>Banca BCC-Roma IBAN: IT54X0832703269000000001288</strong>
      </li>
    </ul>

    <h3 style="display: flex; justify-content: center; align-items: center; padding-top: 1rem;">
      CONFORMITÀ D'ISCRIZIONE
    </h3>
    <p>
      Gli atleti iscritti offline dovranno inviare all'atto dell'iscrizione, oltre al modulo compilato con tutti i dati richiesti,
      anche copia del pagamento se effettuato con bonifico bancario e, per i tesserati Runcard o Eps,
      copia del certificato medico rilasciato per ATLETICA LEGGERA in corso di validità
      Le società affiliate con Enti di promozione sportiva dovranno inviare lista completa degli atleti e dichiarazione di tesseramento in corso con TIMBRO e FIRMA del Presidente.
    </p>
    
    <h3 style="display: flex; justify-content: center; align-items: center; padding-top: 1rem;">
      ASSEGNAZIONE PETTORALI
    </h3>
    <p>
      Agli iscritti paganti sarà consegnato il pacco gara composto da Pettorale, Chip e 3 paia di Calze Tecniche logate Vola Ciampino.
      Agli atleti "elite" con tempi ufficiali accreditati sulla 10 KM inferiori a 33' (uomini) e 39' (donne)
      e che lo richiederanno all'atto dell'iscrizione entro il 4 marzo, sarà riservato un pettorale corrispondente alla prima area di partenza.
      E' comunque richiesto a tutti gli iscritti di indicare, al momento dell'iscrizione, il proprio miglior tempo sulla distanza 10 km.
    </p>
    
    <h3 style="display: flex; justify-content: center; align-items: center; padding-top: 1rem;">
      RITIRO PETTORALI
    </h3>
    <p>
      Il pettorale con il chip potrà essere ritirato Sabato 6 MARZO 2027 dalle ore 10:00 alle ore 18:00 con orario continuato presso: LBM Sport - Roma VIA Tuscolana 187
    </p>
    <p>
      - PER I RESIDENTI FUORI PROVINCIA DI ROMA: In via eccezionale, e SOLO PER I RESIDENTI FUORI PROVINCIA di Roma, sarà possibile ritirare il pettorale la mattina della corsa presso un gazebo posizionato alla partenza- dalle ore 07,30 alle ore 08,15. Dopo tale orario NON sarà possibile in alcun modo ritirare il pettorale.
    </p>
    <p>
      Il chip sarà consegnato insieme al pettorale e dovrà essere utilizzato secondo le istruzioni allegate e pubblicate sul sito a ridosso dell'evento.
    </p>
    <p>
      TEMPI E RISULTATI: Per stabilire i tempi e i risultati della corsa verranno presi in considerazione i tempi rilevati tramite chip con modalità “official time”. Limitatamente alle prime 10 posizioni verrà utilizzata la photo-finish technology per determinare l'ordine di arrivo qualora ce ne sia la necessità. I risultati saranno disponibili per tutti i runners sul sito www.endu.net e www.volaciampino.it in tempo reale. Le classifiche dei tempi saranno convalidate dal Giudice Delegato Tecnico o dal Giudice d'Appello.
    <p>
    </p>
      <strong>E' PREVISTO IL DEPOSITO BORSE.</strong>
    </p>
    
    <h3 style="display: flex; justify-content: center; align-items: center; padding-top: 1rem;">
      RITROVO E PARTENZA
    </h3>
    <strong>
      <p>
        Il ritrovo è previsto dalle ore 8:00 in viale J. F. Kennedy 27 Ciampino -Rm
      </p>
      <p>
        PARTENZA STRACITTADINA ore 09,30 Km 2
      </p>
      <p>
        PARTENZA alle ore 10,15. Tempo massimo di gara è di 1 ora e 30 minuti
      </p>
      <p>
        RISTORI: Sarà previsto un ristoro intermedio ed uno finale.
      </p>
    </strong>
    
    <h3 style="display: flex; justify-content: center; align-items: center; padding-top: 1rem;">
      MANCATO SVOLGIMENTO
    </h3>
    <p>
      Qualora la gara venga annullata, spostata ad altra data e/o, comunque, non svolta per cause di forza maggiore,
      ivi compresi eventi pandemici e naturali, non dipendenti e/o non imputabili alla volontà degli Organizzatori,
      compresa la revoca dell'autorizzazione allo svolgimento da parte delle Autorità competenti, per qualsiasi motivo,
      ovvero disposizioni delle stesse Autorità che impongano una riduzione del numero degli atleti partecipanti,
      rispetto a quello massimo previsto nel presente regolamento, l'iscritto nulla avrà a che pretendere dalla ASD Runners Ciampino,
      neppure a titolo di rimborso delle spese sostenute e valendo la sottoscrizione della domanda di iscrizione anche come rinuncia
      a qualsiasi pretesa di risarcimento del danno e/o di indennizzo e/o di qualsivoglia pretesa reintegratoria e/o soddisfattiva
      di un eventuale pregiudizio patrimoniale subito e subendo. Nel descritto caso di mancata realizzazione dell'evento,
      l'atleta potrà usufruire dell'agevolazione del trasferimento all'edizione dell'anno successivo.
      Il trasferimento dell'iscrizione all'edizione 2027.
    </p>
    
    <h3 style="display: flex; justify-content: center; align-items: center; padding-top: 1rem;">
      DICHIARAZIONE DI RESPONSABILITÀ
    </h3>
    <p>
      Con l'iscrizione alla Vola Ciampino, l'atleta dichiara di conoscere nell'interezza e di accettare incondizionatamente il presente regolamento
      nonché di essere consapevole che il partecipare alla Vola Ciampino in generale è potenzialmente un'attività a rischio.
      L'atleta dichiara, inoltre, di assumersi tutti i rischi derivanti dalla propria partecipazione all'evento:
      cadute, contatti con veicoli, con altri partecipanti, spettatori o altro, condizione metereologiche,
      traffico ed eventuali condizioni di dissesto del manto stradale, che dichiara di conoscere e aver valutato.
      Con l'invio del modulo di iscrizione on-line l'atleta solleva e libera gli Organizzatori, gli enti promotori,
      l'Amministrazione Comunale di Ciampino, la FIDAL, il Gruppo Giudici di Gara, tutti gli Sponsor dell'evento,
      i rispettivi rappresentanti, successori, funzionari, direttori, membri, agenti ed impiegati delle società sopra citate,
      di tutti i presenti e futuri reclami o responsabilità di ogni tipo, nonché per danni a persone e/o cose, conosciuti o sconosciuti,
      derivati dalla propria partecipazione all'evento. Inoltre, con l'invio del modulo di iscrizione on-line
      il concorrente dichiara di non essere a conoscenza di alcuna condizione medica pregressa o di lesioni che possano porlo a rischio nel corso dell'evento.
      L'atleta autocertifica altresì l'inesistenza di sanzioni sportive, civili e/o penali per doping,
      e dichiara di non aver assunto, e di non assumere, sostanze inserite nella lista antidoping della World Antidoping Agency (WADA).
      Si rammenta che, in base alla normativa federale vigente, i concorrenti potranno essere sottoposti a controlli antidoping da parte delle competenti autorità.
    </p> 
    <p> 
      Avvertenze Finali Gli organizzatori garantiscono l'organizzazione di un evento in sicurezza secondo norme e prescrizioni vigenti al momento dell'evento.
      Ulteriori eventuali specifiche saranno indicate qualora fosse necessario. L'organizzazione adotterà tutti i regolamenti e le procedure indicate dalle Autorità Competenti,
      incluse ulteriori norme di tutela sanitaria. Gli Organizzatori si riservano di modificare il presente regolamento in qualunque momento
      per motivi che riterranno opportuni per una migliore organizzazione della gara <strong>dopo approvazione FIDAL</strong>. Per quanto non previsto dal presente regolamento,
      valgono le norme tecnico statutarie della FIDAL e del Gruppo Giudici di Gara. Eventuali modifiche a servizi,
      luoghi ed orari saranno opportunamente comunicate agli atleti iscritti oppure saranno riportate sul sito internet www.volaciampino.it.
      Inoltre la documentazione contenente le informazioni essenziali per prendere parte alla gara sarà consegnata dall'organizzazione unitamente al pettorale.
    </p>
    
    <h3 style="display: flex; justify-content: center; align-items: center; padding-top: 1rem;">
      DIRITTO D'IMMAGINE
    </h3>
    <p>
      Con l'iscrizione alla 27^ edizione della "Vola Ciampino" l'atleta autorizza espressamente ed a titolo gratuito la A.S.D. Runners Ciampino
      eventuali cessionari aventi causa di questa, ad utilizzare le immagini fisse o in movimento sulle quali l'atleta potrà apparire,
      riprese in occasione della sua partecipazione a "La Vola Ciampino", su tutti i supporti audiovisivi nonché sui materiali promozionali e/o pubblicitari della Corsa,
      che potranno essere prodotti e diffusi con ogni mezzo (a titolo di esempio con il mezzo televisivo, internet etc)
      in tutto il mondo e per tutto il tempo massimo previsto dalle leggi, dai regolamenti, dai trattati in vigore,
      compresa la proroga eventuale che potrà essere apportata al periodo previsto.
      PRIVACY Con l'iscrizione si sottoscrive quanto stabilito dal Decreto Legislativo 30.06.2003 n°196/03 (Privacy),
      dal GDPR 2016/679 e dalla normativa nazionale vigente in materia di trattamento e protezione dei dati personali.
    </p>
    
    <h3 style="display: flex; justify-content: center; align-items: center; padding-top: 1rem;">
      RECLAMI
    </h3>
    <p>
      Eventuali reclami dovranno essere presentati entro 30 minuti dall'esposizione della classifica ufficiale con i risultati di gara,
      accompagnati dalla tassa di 50,00 € che verrà restituita nel caso di accoglimento del reclamo.
      Per tutto quanto non previsto espressamente si rinvia al regolamento generale della FIDAL. VARIE Per quanto sopra non contemplato,
      si rimanda ai regolamenti ufficiali vigenti della FIDAL.
      L'organizzatore si riserva di variare ogni clausola del presente regolamento in accordo con il CR FIDAL Lazio,
      per cause derivanti da decisioni di Pubbliche Autorità e/o per motivi di forza maggiore e/o per necessità organizzative.
    </p>

  </div>
</div>

