---
layout: base.html
title: Regolamento Stracittadina
---

<div style="
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
  ">

  <h1 style="padding: 1rem 1em 0 1em;">Regolamento Stracittadina</h1>
  <div style="width: min(40rem, 90%); display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 1rem; margin-bottom: 1rem; margin-top: 0;">
    <h2>Trofeo Scolastico Giovacchino De Sanctis</h2>
    <img src="/img/logo/logo_dem.jpg" alt="logo dem" width="100" />
  </div>
  
  <div style="display: flex; justify-content: center; flex-wrap: wrap; gap: 2rem;">
    <div style="width: min(25rem, 90%); padding-bottom: 2rem;">
      <p style="margin-top: 0;">
        I moduli di iscrizione della gara stracittadina saranno reperibili presso le scuole del comune di Ciampino
        e potranno inoltre essere compilati all' atto dell'iscrizione o scaricabili dal sito.
      </p>
      
      <p><b>Quote di iscrizione: ● € 7,00</b></p>

      <p>
        Tassa e modulo di iscrizione dovranno essere consegnati nei giorni:
      </p>

      <p style="font-size: 25px;"><b>5 Marzo 2027</b></p>
      <p><i><b>dalle ore 16:00 alle ore 19:00</b></i></p>
      <p style="font-size: 25px;"><b>6 Marzo 2027</b></p>
      <p style="margin-bottom: 0;"><i><b>dalle ore 10:00 alle 13:00</b></i></p>
      <p style="margin-top: 0;"><i><b>e dalle 16:00 alle 19:00</b></i></p>
      <p style="margin-bottom: 0;"><i><b>in Via Cagliari 9 Ciampino</b></i></p>
      <p style="margin-top: 0;"><i><b>presso lo Stadio A. Fuso.</b></i></p>
      
      <p>
        La gara stracittadina é aperta a tutti.
      </p>

      <p>
        La partecipazione dei ragazzi fino alla classe quinta elementare é subordinata alla presenza di un adulto accompagnatore
        con il quale potranno entrare nella gabbia di partenza.
      </p>
      <p style="margin-bottom: 2rem;">
        La distanza di gara potrà essere percorsa a passo libero.
      </p>

      <a href="/misc/brochure-vola-ciampino-26.pdf"><button>Stampa o Salva il Modulo</button></a>
    </div>

    <div style="display: flex; flex-direction: column; gap: 1rem;">
      <img src="/img/volantino_no_sponsor.jpg" alt="Volantino Stracittadina" style="width: 300px; height: auto;" />
      <img src="/img/2km/pettorale_stracittadina.jpg" alt="Pettorale Stracittadina" style="width: 250px; height: auto;" />
    </div>

  </div>
</div>
