---
layout: base.html
title: Percorso Stracittadina
---

<div style="
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  ">

  <h1 style="padding: 1rem 1em; margin-bottom: 0;">Percorso Stracittadina</h1>
  <div style="width: min(55rem, 90%); padding-bottom: 2rem;">
    <p style="margin: 0;">
      Il percorso si articolerà sulle seguenti strade cittadine:
	    Viale Kennedy 35, Ponte di Morena, via del Lavoro, via IV Novembre, P.zza della Pace,
	    via Italia, via della Repubblica, via Col di Lana, via XXIV Maggio, Viale Kennedy ARRIVO.
    </p>
    <div style="display: flex; justify-content: center; padding-top: 2rem;">
      <img style="max-width: 100%; height:auto;" src="/img/2km/percorso.jpg" alt="percorso stracittadina" />
    </div>
  </div>
</div>
