---
layout: base.html
title: Premi Stracittadina
---

<div style="
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  ">

  <h1 style="padding: 1rem 1em; margin-bottom: 0;">Premi Stracittadina</h1>
  <div style="width: min(55rem, 90%); padding-bottom: 2rem;">
    <p style="margin: 0;">
      Saranno premiati i <b>primi tre classificati/e con coppe</b>.
    </p>
    <p>
      Saranno premiate le <b>prime tre scuole classificate per maggior numero di iscritti</b>.
    </p>
    <p style="margin: 0;">
      Alla scuola vincitrice sarà consegnato il Trofeo Giovacchino De Sanctis
    </p>
    <p style="margin: 0;">
      1° Scuola Classificata:  Euro 300
    </p>
    <p style="margin: 0;">
      2° Scuola Classificata:  Euro 200
    </p>
    <p style="margin: 0;">
      3° Scuola Classificata:  Euro 100
    </p>
    <div style="display: flex; justify-content: center; padding-top: 3rem;">
      <img style="max-width: 100%; height:auto;" src="/img/logo/logo_dem.jpg" alt="logo dem" width="200" />
    </div>
  </div>
</div>
