---
layout: base.html
title: Iscrizioni 10km
---

<div style="
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 2rem;
  ">
  <div style="width: min(35rem, 90%);">
    <h1 style="padding: 1rem 0; margin-bottom: 0; text-align: center;">Iscrizioni Competitiva</h1>
    <h2 style="padding: 1rem 0; margin-bottom: 0; text-align: center;">Modulo di Iscrizione</h2>
    <a href="/misc/modulo-iscrizione-26.xlsx"><button>Scarica il Modulo</button></a>
    <h3 style="padding: 1rem 0; margin-bottom: 0; text-align: center;">Vuoi iscriverti con ENDU?</h3>
    <a href="https://www.endu.net/it/events/vola-ciampino-2/" target="_blank"><button style="background-color: #04bcd4">ENDU</button></a>
  </div>
</div>
