---
layout: base.html
title: Ritiro Pettorali e Pacco Gara 10km
---

<div style="
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  ">

  <div style="width: min(35rem, 90%); padding-bottom: 2rem;">
  	<h2 style="padding: 1rem 0; margin-bottom: 0; text-align: center;">Ritiro Pettorali</h2>
    <p style="margin: 0;">
      Il pettorale con il chip potrà essere ritirato Sabato 6 MARZO 2027
      dalle ore 10:00 alle ore 18:00 con orario continuato presso: LBM Sport - Roma VIA Tuscolana 187
    </p>
    <p style="margin-bottom: 0;">
      PER I RESIDENTI FUORI PROVINCIA DI ROMA: In via eccezionale, e SOLO PER I RESIDENTI FUORI PROVINCIA di Roma,
      sarà possibile ritirare il pettorale la mattina della corsa presso un gazebo posizionato alla partenza
      dalle ore 07:30 alle ore 08:15. Dopo tale orario NON sarà possibile in alcun modo ritirare il pettorale.
    </p>
    <p style="margin-top: 0;">
      Il chip sarà consegnato insieme al pettorale e dovrà essere utilizzato secondo le istruzioni allegate e pubblicate sul sito a ridosso dell'evento.
    </p>
  	
    <h2 style="padding-bottom: 1rem; margin-bottom: 0;  text-align: center;">Pacco Gara</h2>
    <p style="margin: 0;">
      Le tre paia di calze Dry-in saranno presenti all'interno del pacco ristoro che potrà essere ritirato (solo ed esclusivamente) consegnando il chip.
    </p>
    <div style="display: flex; justify-content: center; padding-top: 2rem;">
      <img style="max-width: 100%; height:auto;" src="/img/10km/calze.jpg" alt="calze Dry-in" width="175" />
    </div>
  </div>
</div>
