---
layout: base.html
title: Premi Assoluti
---

<div style="
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  ">
  <div style="
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    text-align: center;
    ">

    <h1 style="padding: 1rem 1em 0 1em;">PREMI ASSOLUTI</h1>
    
    <p style="margin-top: 0;"><b>UOMINI-DONNE</b></p>
  
    <p style="margin: 0; padding-top: 0.2rem;"><b>1°</b> € 200,00 + Trofeo Vola Ciampino</p>
    <p style="margin: 0; padding-top: 0.2rem;"><b>2°</b> € 150,00 + Coppa</p>
    <p style="margin: 0; padding-top: 0.2rem;"><b>3°</b> € 120,00 + Coppa</p>
    <p style="margin: 0; padding-top: 0.2rem;"><b>4°</b> € 100,00 + Coppa</p>
    <p style="margin: 0; padding-top: 0.2rem;"><b>5°</b> € 80,00 + Coppa</p>

    <p style="width: min(55rem, 100%);">
      Il 25% del montepremi effettivamente erogato ai primi classificati è riservato agli atleti italiani e "italiani equiparati"
      ed è cumulabile con i premi assegnati per posizione di classifica.
      L'erogazione dei premi in denaro avviene in modo conforme alle regole della WA e alle leggi dello Stato Italiano.
    </p>
    <b>
      I premi in denaro verranno corrisposti solo agli atleti FIDAL
    </b>

  </div>
</div>
