---
layout: base.html
title: Premi Categorie
---


<div style="
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  ">
  <div style="
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
	  text-align: center;
    ">

    <h1 style="margin-top: 3rem;">
      PREMI PER CATEGORIE
    </h1>
    <p style="margin: 0;">
      Verranno premiati i primi 10 uomini/donne per ogni categoria
    </p>
    <p style="margin-top: 0; margin-bottom: 2rem;">
      Note: Per ritirare il premio sarà richiesto il pettorale o un documento d'identità
    </p>
    
    <p style="margin: 0;">
    </p>
    <p style="margin: 0.5rem 0; display: grid; grid-template-columns: auto auto; justify-items: center; gap: 0 1rem;">
      <b>UOMINI</b> <b>DONNE</b>
      <i>Ass. M. 16/34</i> <i>Ass. F. 16/34</i>
      <i>MM35</i> <i>MF35</i>
      <i>MM40</i> <i>MF40</i>
      <i>MM45</i> <i>MF45</i>
      <i>MM50</i> <i>MF50</i>
      <i>MM55</i> <i>MF55</i>
      <i>MM60</i> <i>MF60</i>
      <i>MM65</i> <i>MF65</i>
      <i>MM70</i> <i>MF70</i>
      <i>MM75</i> <i>MF75</i>
      <i>MM80</i>
    </p>
    
    <h2 style="margin-top: 1rem;">
      PREMI PRIMI 10 CLASSIFICATI
    </h2>
    <p style="margin: 0; padding-top: 0.5rem;"><b>1°</b> Prosciutto + 3 Bottiglie di Vino</p>
    <p style="margin: 0; padding-top: 0.5rem;"><b>2°</b> 4Kg Salame Milano + 3 Bottigliene di Vino</p>
    <p style="margin: 0; padding-top: 0.5rem;"><b>3°</b> Lonza + 3 Bottiglie di Vino</p>
    <p style="margin: 0; padding-top: 0.5rem;"><b>4°</b> 1 Kg Caffè '' Martella '' + 1 Kg di Grana + 3 Bottiglie di Vino</p>
    <p style="margin: 0; padding-top: 0.5rem;"><b>5°</b> 1 Kg Caffè '' Martella '' + 1 Kg di Grana + 3 Bottiglie di Vino</p>
    <p style="margin: 0; padding-top: 0.5rem;"><b>6°</b> 1 Kg Caffè '' Martella '' + 3 Bottiglie di Vino</p>
    <p style="margin: 0; padding-top: 0.5rem;"><b>7°</b> 1 Kg Caffè '' Martella '' + 3 Bottiglie di Vino</p>
    <p style="margin: 0; padding-top: 0.5rem;"><b>8°</b> 3 Bottiglie di Vino</p>
    <p style="margin: 0; padding-top: 0.5rem;"><b>9°</b> 3 Bottiglie di Vino</p>
    <p style="margin: 0; padding-top: 0.5rem;"><b>10°</b> 3 Bottiglie di Vino</p>

  </div>
</div>


