---
layout: base.html
title: Foto 2015
---

<div style="
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
  ">
  <div style="
    width: min(90%, 65rem);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    ">

    {% for f in foto["2015"] -%}
    <a href="{{ f }}"><img src="/../{{ f }}" alt="" style="width: auto; height: 200px;" /></a>
    {% endfor %}

  </div>
</div>
