---
layout: base.html
title: Classifica 2017 Competitiva
---

<div style="
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  ">
  <div style="
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    text-align: center;
    ">

    <h1 style="padding: 1rem 1em 0 1em;">Classifica 2017</h1>
    
    <h2 style="margin: 0;">Classifica Top 10 Uomini</h2>
    <div style="display: flex; justify-content: center;">
      <img style="max-width: 100%; height:auto;" src="/img/classifiche/2017/men.jpg" alt="top 10 uomini 2017" />
    </div>

    <h2 style="margin-top: 2rem; margin-bottom: 0;">Classifica Top 10 Donne</h2>
    <div style="display: flex; justify-content: center;">
      <img style="max-width: 100%; height:auto;" src="/img/classifiche/2017/women.jpg" alt="top 10 donne 2017" />
    </div>

  </div>
</div>
