---
layout: base.html
title: Iscrizioni
---

<div style="
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 2rem;
  ">
  <h1>Iscrizioni</h1>
  <div style="display: flex; gap: 2rem; flex-wrap: wrap; justify-content: center;">
    <a href="/iscrizioni/10km"><img src="/img/10km/home.jpg" alt="iscrizioni 10km" /></a>
    <a href="/stracittadina"><img src="/img/2km/home.jpg" alt="iscrizioni 2km" /></a>
  </div>
</div>
