---
layout: base.html
title: Contatti
---

<div style="
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  ">
  <h1>Contatti</h1>

  <div>
    <h3>Telefono: Ranieri Carenza <a style="text-decoration: none;" href="tel:+393335286319">3335286319</a></h3>
    <h3>Email: <a style="text-decoration: none;" href="mailto:volaciampino@evodata.it">volaciampino@evodata.it</a></h3>
  </div>
  <div class="socials-container" style="margin-top: 1rem">
    <a data-social="WhatsApp" style="background-color: #25D366; fill: white; --accent-color: #25D366" href="https://api.whatsapp.com/send?phone=393333848899" target="_blank">{% include "svg/social/whatsapp.svg" %}</a>
  </div>
</div>
