---
layout: base.html
title: Media
---

<div style="
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
  ">
  <div style="
    width: min(90%, 65rem);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    ">

    <a href="/media/foto" style="display: flex; align-items: center; justify-content: center; flex-direction: column; text-decoration: none; font-size: 1.5rem;">
      {% include "svg/photo.svg" %}
      <span style="margin: 0; padding: 0;">Esplora Foto</span>
    </a>
    <a href="/media/video"  style="display: flex; align-items: center; justify-content: center; flex-direction: column; text-decoration: none; font-size: 1.5rem;">
      {% include "svg/videocam.svg" %}
      <span>Esplora Video</span>
    </a>

  </div>
</div>
